:host ::ng-deep p-chips .p-chips .p-inputtext,
:host ::ng-deep p-chips .p-chips,
:host::ng-deep p-multiselect .p-multiselect,
:host::ng-deep p-dropdown .p-dropdown {
    width: 100% !important;
}

:host ::ng-deep .p-chips .p-chips-multiple-container .p-chips-input-token input {
    padding: 0.375rem 0rem !important;
}

:host ::ng-deep .p-chips .p-chips-multiple-container:not(.p-disabled):focus {
    border-color: rgba(11, 94, 215, 0.6);
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

:host ::ng-deep .p-chips .p-chips-multiple-container:not(.p-disabled):hover {
    border-color: rgba(11, 94, 215, 0.6);
}

:host ::ng-deep .p-chips .p-chips-multiple-container:not(.p-disabled) {
    padding: 0rem 0.65rem;
}

:host ::ng-deep .p-tooltip .p-tooltip-text {
    color: bisque;
}


.password-field {
    padding-right: 3.2rem;
}

.eye-button i {
    cursor: pointer;
    color: var(--primary-color) !important;
    display: flex;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

.eye-button {
    position: absolute !important;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

input {
    // height: 44px;
    transition: all 150ms ease-in-out;
}

input:hover {
    border: 1px solid rgba(11, 94, 215, 0.6);
}

.justify-self-center {
    justify-self: center;
}

.justify-self-end {
    justify-self: end;
}

a {
    cursor: pointer;
}

.font-size-sm {
    font-size: xx-small;
}



// active-border-color
// #86b7fe

// Active-box-shadow
// 0 0 0 .25rem rgba(13, 110, 253, .25);