<div id="layout-config" class="layout-config" [ngClass]="{'layout-config-active': appMain.configActive}" (click)="appMain.onConfigClick($event)">
        <a style="cursor: pointer" id="layout-config-button" class="layout-config-button" (click)="onConfigButtonClick($event)">
            <i class="pi pi-cog"></i>
        </a>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text layout-config-close" (click)="onConfigButtonClick($event)"></button>
        <div class="layout-config-content">
            <h6 class="mt-0">Component Scale</h6>
            <div class="config-scale">
                <button pButton pRipple type="button" icon="pi pi-minus" (click)="decrementScale()" class="p-button-rounded p-button-text" [disabled]="scale === scales[0]"></button>
                    <i *ngFor="let item of scales" class="pi pi-circle-fill" [ngClass]="{'scale-active': item === scale}"></i>
                <button pButton pRipple type="button" icon="pi pi-plus" (click)="incrementScale()" class="p-button-rounded p-button-text" [disabled]="scale === scales[scales.length - 1]"></button>
            </div>

            <h6>Menu Type</h6>
            <div class="p-formgroup-inline">
                <div class="field-radiobutton">
                    <p-radioButton name="menuType" value="static" [(ngModel)]="app.menuMode" (onClick)="appMain.isStatic()"
                                   inputId="menuType1" ></p-radioButton>
                    <label for="menuType1">Static</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="menuType" value="overlay" [(ngModel)]="app.menuMode" (onClick)="appMain.isOverlay()"
                                   inputId="menuType2"></p-radioButton>
                    <label for="menuType2">Overlay</label>
            </div>

            </div>
        </div>
</div>
