.input-field {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-field:focus,
.input-field:active {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.bg-light-blue {
    background-color: rgba(0, 123, 255, 0.1);
}

:host ::ng-deep p-chips .p-chips,
:host ::ng-deep p-chips .p-chips .p-inputtext {
    width: 100% !important;
}

:host ::ng-deep p-dialog .p-dialog-mask .p-dialog,
:host ::ng-deep p-dialog .p-dialog-mask .p-dialog .p-dialog-content
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
