<div class="card rounded-4">
    <div *ngIf="loading" class="d-flex align-items-center justify-content-center loading-section">
        <div class="loader"></div>
    </div>
    <ng-container *ngIf="!loading">
        <div class="row">
            <div class="col-12 col-md-6 d-flex flex-column gap-1">
                <label class="fw-medium" for="companyid">Company Id</label>
                <input id="companyid" class="form-control m-0" type="text" [placeholder]="userResponse.user.company_id"
                    readonly>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column gap-1">
                <label class="fw-medium" for="companyname">Company Name</label>
                <input id="companyname" class="form-control m-0" type="text"
                    [placeholder]="userResponse.user.company_name" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 d-flex flex-column gap-1">
                <label class="fw-medium" for="email">Email</label>
                <input id="email" class="form-control m-0" type="email" [placeholder]="userResponse.user.email"
                    readonly>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column gap-1">
                <label class="fw-medium" for="name">Name</label>
                <input id="name" class="form-control m-0" type="text" [placeholder]="userResponse.user.name" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 d-flex flex-column gap-1">
                <label class="fw-medium" for="tenderMinValue">Tender Min Value</label>
                <div class="d-flex gap-3 ">
                    <input id="tenderMinValue" class="form-control m-0" type="text"
                        [placeholder]="userResponse.user.tender_minimum_value" readonly>
                    <div class="d-flex gap-2">
                        <button pButton pRipple type="button" icon="pi pi-pencil"
                            class="p-button-rounded p-button-help p-button-outlined"
                            (click)="showTenderMinValueUpdateDialog()"></button>
                        <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-danger p-button-outlined"
                            (click)="showTenderMinValueDeleteDialog()"></button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column gap-1">
                <label class="fw-medium" for="tenderMaxValue">Tender Max Value</label>
                <div class="d-flex gap-3">
                    <input id="tenderMaxValue" class="form-control m-0" type="email"
                        [placeholder]="userResponse.user.tender_maximum_value" readonly>
                    <div class="d-flex gap-2">
                        <button pButton pRipple type="button" icon="pi pi-pencil"
                            class="p-button-rounded p-button-help p-button-outlined"
                            (click)="showTenderMaxValueUpdateDialog()"></button>
                        <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-danger p-button-outlined"
                            (click)="showTenderMaxValueDeleteDialog()"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex flex-column gap-1 col-12">
                <label class="fw-medium" for="">CPV Codes</label>
                <div class="d-flex flex-column flex-md-row gap-2 gap-md-3 align-items-end align-items-md-center">
                    <div class="input-field d-flex flex-wrap align-items-center gap-1">
                        <div *ngFor="let item of userResponse.user.cpv_codes"
                            class="bg-light-blue px-3 py-1 rounded-1 fw-medium">
                            {{item}}
                        </div>
                    </div>
                    <div class="d-flex gap-2">
                        <button pButton pRipple type="button" icon="pi pi-pencil"
                            class="p-button-rounded p-button-help p-button-outlined"
                            (click)="showCpvCodeUpdateDialog()"></button>
                        <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-danger p-button-outlined"
                            (click)="showCpvCodeDeleteDialog()"></button>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column gap-1 col-12">
                <label class="fw-medium" for="">Keywords</label>
                <div class="d-flex flex-column flex-md-row gap-2 gap-md-3 align-items-end align-items-md-center">
                    <div class="input-field d-flex flex-wrap align-items-center gap-1">
                        <div *ngFor="let item of userResponse.user.keywords"
                            class="bg-light-blue px-3 py-1 rounded-1 fw-medium">
                            {{item}}
                        </div>
                    </div>
                    <div class="d-flex gap-2">
                        <button pButton pRipple type="button" icon="pi pi-pencil"
                            class="p-button-rounded p-button-help p-button-outlined"
                            (click)="showKeywordsUpdateDialog()"></button>
                        <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-danger p-button-outlined"
                            (click)="showKeywordsDeleteDialog()"></button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column gap-1 col-12">
                <label class="fw-medium" for="">Competitors</label>
                <div class="d-flex flex-column flex-md-row gap-2 gap-md-3 align-items-end align-items-md-center">
                    <div class="input-field d-flex flex-wrap align-items-center gap-1">
                        <div *ngFor="let item of userResponse.user.competitors"
                            class="bg-light-blue px-3 py-1 rounded-1 fw-medium">
                            {{item}}
                        </div>
                    </div>
                    <div class="d-flex gap-2">
                        <button pButton pRipple type="button" icon="pi pi-pencil"
                            class="p-button-rounded p-button-help p-button-outlined"
                            (click)="showCompetitorsUpdateDialog()"></button>
                        <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-danger p-button-outlined"
                            (click)="showCompetitorsDeleteDialog()"></button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column gap-1 col-12">
                <label class="fw-medium" for="">Locations</label>
                <div class="d-flex flex-column flex-md-row gap-2 gap-md-3 align-items-end align-items-md-center">
                    <div class="input-field d-flex flex-wrap align-items-center gap-1">
                        <div *ngFor="let item of userResponse.user.location"
                            class="bg-light-blue px-3 py-1 rounded-1 fw-medium">
                            {{item}}
                        </div>
                    </div>
                    <!-- <div class="d-flex gap-2">
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-help p-button-outlined"
                        (click)="showLocationsUpdateDialog()"></button>
                    <button pButton pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-outlined"
                        (click)="showLocationsDeleteDialog()"></button>
                </div> -->
                </div>
            </div>
        </div>
    </ng-container>
</div>




<!-- ======================================== Dialogs ======================================== -->

<!-- ============= Tender Min Value ============== -->

<!-- ===== Update ===== -->

<p-dialog header="Header" [draggable]="false" [resizable]="false" [(visible)]="tender_min_value_update_visible"
    [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Umar Awan</span>
        </div>
    </ng-template>
    <form action="" [formGroup]="tenderMinValueForm" (ngSubmit)="onTenderMinValueUpdateSubmit()">
        <div class="row">
            <div class="col-12 col-md-6 d-flex flex-column gap-1">
                <label class="fw-medium" for="tenderMinValue">Current Tender Min Value</label>
                <input id="tenderMinValue" class="form-control m-0" type="text"
                    [placeholder]="userResponse.user.tender_minimum_value" readonly>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column gap-1">
                <label class="fw-medium" for="tenderMinValue">Enter Updated Tender Min Value</label>
                <input id="tenderMinValue" class="form-control m-0" type="number" placeholder="Enter a new min Value"
                    formControlName="tenderMinValue" min="0">
            </div>
        </div>
        <div class="mt-2 d-flex justify-content-end ">
            <button pButton pRipple type="submit" icon="pi pi-pencil" label="Update"></button>
        </div>
    </form>
</p-dialog>

<!-- ===== Delete ===== -->
<p-dialog header="Header" [draggable]="false" [resizable]="false" [(visible)]="tender_min_value_delete_visible"
    [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Umar Awan</span>
        </div>
    </ng-template>
    <form action="" (ngSubmit)="onDeleteTenderMinValue()">
        <div class="d-flex align-items-center gap-3">
            <i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i>
            <p class="m-0 fw-medium ">Are you sure you wanted to delete tender min value?</p>
        </div>
        <div class="mt-2 d-flex justify-content-end ">
            <button pButton pRipple type="submit" icon="pi pi-times" label="Delete" class="p-button-danger"></button>
        </div>
    </form>
</p-dialog>


<!-- ============= Tender Max Value ============== -->
<!-- ===== Update ===== -->
<p-dialog header="Header" [draggable]="false" [resizable]="false" [(visible)]="tender_max_value_update_visible"
    [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Amy Elsner</span>
        </div>
    </ng-template>
    <form action="" [formGroup]="tenderMaxValueForm" (ngSubmit)="onTenderMaxValueUpdateSubmit()">
        <div class="row">
            <div class="col-12 col-md-6 d-flex flex-column gap-1">
                <label class="fw-medium" for="tenderMaxValue">Current Tender Max Value</label>
                <input id="tenderMaxValue" class="form-control m-0" type="text"
                    [placeholder]="userResponse.user.tender_maximum_value" readonly>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column gap-1">
                <label class="fw-medium" for="tenderMaxValue">Enter Updated Tender Max Value</label>
                <input id="tenderMaxValue" class="form-control m-0" type="number"
                    placeholder="Enter New Tender Max Value" formControlName="tenderMaxValue">
            </div>
        </div>
        <div class="mt-2 d-flex justify-content-end ">
            <button pButton pRipple type="submit" icon="pi pi-pencil" label="Update"></button>
        </div>
    </form>
</p-dialog>
<!-- ===== Delete ===== -->
<p-dialog header="Header" [draggable]="false" [resizable]="false" [(visible)]="tender_max_value_delete_visible"
    [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Umar Awan</span>
        </div>
    </ng-template>
    <form action="" (ngSubmit)="onDeleteTenderMaxValue()">
        <div class="d-flex align-items-center gap-3">
            <i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i>
            <p class="m-0 fw-medium ">Are you sure you wanted to delete tender max value?</p>
        </div>
        <div class="mt-2 d-flex justify-content-end ">
            <button pButton pRipple type="submit" icon="pi pi-times" label="Delete" class="p-button-danger"></button>
        </div>
    </form>
</p-dialog>

<!-- =============  cpv Code ============== -->
<!-- ===== Update ===== -->

<p-dialog header="Header" [draggable]="false" [resizable]="false" [(visible)]="cpv_codes_update_visible" [modal]="true"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Umar Awan</span>
        </div>
    </ng-template>
    <div class="d-flex flex-column gap-1">
        <label for="" class="fw-medium">Current CPV Codes</label>
        <div class="input-field d-flex flex-wrap align-items-center gap-1">
            <div *ngFor="let item of userResponse.user.cpv_codes" class="bg-light-blue px-3 py-1 rounded-1 fw-medium">
                {{item}}
            </div>
        </div>
    </div>
    <form action="" class="mt-2" [formGroup]="updateCpvCodesForm" (ngSubmit)="onUpdateCpvCodesSubmit()">
        <div class="d-flex flex-column gap-1">
            <label for="cpCode" class="fw-medium">Add CPV Code</label>
            <p-chips separator="," placeholder="Enter cpv codes you wanted to add" required
                formControlName="updatedCpvCodes"></p-chips>
        </div>
        <div class="mt-3 d-flex justify-content-end ">
            <button pButton pRipple type="submit" icon="pi pi-plus" label="Add" class=""></button>
        </div>
    </form>
</p-dialog>
<!-- ===== Delete ===== -->
<p-dialog header="Header" [draggable]="false" [resizable]="false" [(visible)]="cpv_codes_delete_visible" [modal]="true"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Umar Awan</span>
        </div>
    </ng-template>
    <div class="d-flex flex-column gap-1">
        <label for="" class="fw-medium">Current CPV Codes</label>
        <div class="input-field d-flex flex-wrap align-items-center gap-1 rounded-2 ">
            <div *ngFor="let item of userResponse.user.cpv_codes" class="bg-light-blue px-3 py-1 rounded-1 fw-medium">
                {{item}}
            </div>
        </div>
    </div>
    <form action="" class="mt-2" [formGroup]="deleteCpvCodesForm" (ngSubmit)="onDeleteCpvCodesSubmit()">
        <div class="d-flex flex-column gap-1">
            <label for="cpCode" class="fw-medium">Delete CPV Code</label>
            <select formControlName="deletedCpvCodes" class="form-select default-padding "
                aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option *ngFor="let item of userResponse.user.cpv_codes" [value]="item">{{item}}
                </option>
            </select>
            <!-- <p-chips separator="," placeholder="Enter cpv codes you wanted to delete" required
                formControlName="deletedCpvCodes"></p-chips> -->
        </div>
        <div class="mt-3 d-flex justify-content-end ">
            <button pButton pRipple type="submit" icon="pi pi-times" label="Delete" class="p-button-danger"></button>
        </div>
    </form>
</p-dialog>


<!-- =============  Locations ============== -->
<!-- ===== Update ===== -->

<!-- <p-dialog header="Header" [draggable]="false" [resizable]="false" [(visible)]="locations_update_visible" [modal]="true"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Umar Awan</span>
        </div>
    </ng-template>
    <div class="d-flex flex-column gap-1">
        <label for="" class="fw-medium">Current Locations</label>
        <div class="input-field d-flex flex-wrap align-items-center gap-1">
            <div *ngFor="let item of userResponse.user.cpv_codes" class="bg-light-blue px-3 py-1 rounded-1 fw-medium">
                {{item}}
            </div>
        </div>
    </div>
    <form action="" class="mt-2" [formGroup]="updateLocationsForm" (ngSubmit)="onUpdateLocationsSubmit()">
        <div class="d-flex flex-column gap-1">
            <label for="cpCode" class="fw-medium">Add Locations</label>
            <p-chips separator="," placeholder="Enter locations you wanted to add" required
                formControlName="updatedLocations"></p-chips>
        </div>
        <div class="mt-3 d-flex justify-content-end ">
            <button pButton pRipple type="submit" icon="pi pi-plus" label="Add" class=""></button>
        </div>
    </form>
</p-dialog> -->
<!-- ===== Delete ===== -->
<!-- <p-dialog header="Header" [draggable]="false" [resizable]="false" [(visible)]="locations_delete_visible" [modal]="true"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Umar Awan</span>
        </div>
    </ng-template>
    <div class="d-flex flex-column gap-1">
        <label for="" class="fw-medium">Current Locations</label>
        <div class="input-field d-flex flex-wrap align-items-center gap-1">
            <div *ngFor="let item of userResponse.user.cpv_codes" class="bg-light-blue px-3 py-1 rounded-1 fw-medium">
                {{item}}
            </div>
        </div>
    </div>
    <form action="" class="mt-2" [formGroup]="deleteLocationsForm" (ngSubmit)="onDeleteLocationsSubmit()">
        <div class="d-flex flex-column gap-1">
            <label for="cpCode" class="fw-medium">Delete Locations</label>
            <select id="keywords" placeholder="asd" formControlName="deletedLocations" class="form-select default-padding "
                aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option *ngFor="let item of userResponse.user.cpv_codes" [value]="item">
                    {{item}}
                </option>
            </select>
        </div>
        <div class="mt-3 d-flex justify-content-end ">
            <button pButton pRipple type="submit" icon="pi pi-times" label="Delete" class="p-button-danger"></button>
        </div>
    </form>
</p-dialog> -->


<!-- =============  keywords ============== -->
<!-- ===== Update ===== -->

<p-dialog header="Header" [draggable]="false" [resizable]="false" [(visible)]="keywords_update_visible" [modal]="true"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Umar Awan</span>
        </div>
    </ng-template>
    <div class="d-flex flex-column gap-1">
        <label for="" class="fw-medium">Current Keywords</label>
        <div class="input-field d-flex flex-wrap align-items-center gap-1">
            <div *ngFor="let item of userResponse.user.keywords" class="bg-light-blue px-3 py-1 rounded-1 fw-medium">
                {{item}}
            </div>
        </div>
    </div>
    <form action="" class="mt-2" [formGroup]="updateKeywordsForm" (ngSubmit)="onUpdateKeywordsSubmit()">
        <div class="d-flex flex-column gap-1">
            <label for="cpCode" class="fw-medium">Add Keywords</label>
            <p-chips separator="," placeholder="Enter keywords you wanted to add" required
                formControlName="updatedKeywords"></p-chips>
        </div>
        <div class="mt-3 d-flex justify-content-end ">
            <button pButton pRipple type="submit" icon="pi pi-plus" label="Add" class=""></button>
        </div>
    </form>
</p-dialog>
<!-- ===== Delete ===== -->
<p-dialog header="Header" [draggable]="false" [resizable]="false" [(visible)]="keywords_delete_visible" [modal]="true"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Umar Awan</span>
        </div>
    </ng-template>
    <div class="d-flex flex-column gap-1">
        <label for="" class="fw-medium">Current Keywords</label>
        <div class="input-field d-flex flex-wrap align-items-center gap-1">
            <div *ngFor="let item of userResponse.user.keywords" class="bg-light-blue px-3 py-1 rounded-1 fw-medium">
                {{item}}
            </div>
        </div>
    </div>
    <form action="" class="mt-2" [formGroup]="deleteKeywordsForm" (ngSubmit)="onDeleteKeywordsSubmit()">
        <div class="d-flex flex-column gap-1">
            <label for="keywords" class="fw-medium">Delete Keywords</label>
            <select id="keywords" formControlName="deletedKeywords" class="form-select default-padding "
                aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option *ngFor="let item of userResponse.user.keywords" [value]="item">{{item}}
                </option>
            </select>
        </div>
        <div class="mt-3 d-flex justify-content-end ">
            <button pButton pRipple type="submit" icon="pi pi-times" label="Delete" class="p-button-danger"></button>
        </div>
    </form>
</p-dialog>


<!-- =============  Competitors ============== -->
<!-- ===== Update ===== -->

<p-dialog header="Header" [draggable]="false" [resizable]="false" [(visible)]="competitors_update_visible"
    [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Umar Awan</span>
        </div>
    </ng-template>
    <div class="d-flex flex-column gap-1">
        <label for="" class="fw-medium">Current Competitors</label>
        <div class="input-field d-flex flex-wrap align-items-center gap-1">
            <div *ngFor="let item of userResponse.user.competitors" class="bg-light-blue px-3 py-1 rounded-1 fw-medium">
                {{item}}
            </div>
        </div>
    </div>
    <form action="" class="mt-2" [formGroup]="updateCompetitorsForm" (ngSubmit)="onUpdateCompetitorsSubmit()">
        <div class="d-flex flex-column gap-1">
            <label for="cpCode" class="fw-medium">Add Competitors</label>
            <p-chips separator="," placeholder="Enter competitors you wanted to add" required
                formControlName="updatedCompetitors"></p-chips>
        </div>
        <div class="mt-3 d-flex justify-content-end ">
            <button pButton pRipple type="submit" icon="pi pi-plus" label="Add" class=""></button>
        </div>
    </form>
</p-dialog>
<!-- ===== Delete ===== -->
<p-dialog header="Header" [draggable]="false" [resizable]="false" [(visible)]="competitors_delete_visible"
    [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">Umar Awan</span>
        </div>
    </ng-template>
    <div class="d-flex flex-column gap-1">
        <label for="" class="fw-medium">Current Competitors</label>
        <div class="input-field d-flex flex-wrap align-items-center gap-1">
            <div *ngFor="let item of userResponse.user.competitors" class="bg-light-blue px-3 py-1 rounded-1 fw-medium">
                {{item}}
            </div>
        </div>
    </div>
    <form action="" class="mt-2" [formGroup]="deleteCompetitorsForm" (ngSubmit)="onDeleteCompetitorsSubmit()">
        <div class="d-flex flex-column gap-1">
            <label for="competitors" class="fw-medium">Delete Competitors</label>
            <select id="keywords" formControlName="deletedCompetitors" class="form-select default-padding "
                aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option *ngFor="let item of userResponse.user.competitors" [value]="item">{{item}}
                </option>
            </select>
            <!-- <p-chips separator="," placeholder="Enter competitors you wanted to delete" required
                formControlName="deletedCompetitors"></p-chips> -->
        </div>
        <div class="mt-3 d-flex justify-content-end ">
            <button pButton pRipple type="submit" icon="pi pi-times" label="Delete" class="p-button-danger"></button>
        </div>
    </form>
</p-dialog>


<!-- ================================================================================ -->