<p-toast position="top-center" key="tc"></p-toast>
<!-- <div class="d-flex justify-content-center align-content-center  border-2 h-screen" *ngIf="!loading" style="padding-top: 150px;"> -->
<div *ngIf="loading" class="d-flex justify-content-center align-items-center ">
    <div class="loader"></div>
</div>
<!-- </div> -->

<div *ngIf="!loading" class="card rounded-4 w-100 p-3">
    <div class="d-flex align-items-center justify-content-between">
        <p class="p-0 m-0 fw-bold ">Welcome {{ userProfile?.user?.name }}, This is your Tender Dashboard</p>
        <button type="button"
            class="btn btn-primary min-w-120 min-h-40 d-flex justify-content-center align-items-center"
            (click)="updateCrawler()" [disabled]="isCrawlerLoading">
            <div *ngIf="isCrawlerLoading" class="crawlerLoading"></div>
            <p class="fw-medium">
                {{!isCrawlerLoading? 'Update Data':''}}
            </p>
        </button>
    </div>
</div>
<div *ngIf="!loading" class="card rounded-4 ">
    <h5>Tenders Awarded to competitors based on CPV Code </h5>

    <!-- Search input for CPV code -->
    <div class="d-flex gap-3 mb-2 ">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-search"></i>
            </span>
            <input pInputText type="text" [(ngModel)]="recomendationFilter" (input)="onGlobalFilter($event,searchCode)"
                [placeholder]="'Search By'+' '+searchPlaceholder" class="p-inputtext" />
        </div>
        <p-dropdown [options]="options" (onChange)="onSearchOptionChange($event)" placeholder="Search By"
            optionLabel="name"></p-dropdown>
    </div>
    <small *ngIf="!searchPlaceholder && inputDirty" class="text-danger mb-3 ">Select the Search Option</small>
    <p-table #recommendationTable [value]="openTendersData" [paginator]="true" [rows]="5" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Tender ID</th>
                <th pSortableColumn="item.title">Title <p-sortIcon field="item.title"></p-sortIcon></th>
                <!-- <th pSortableColumn="item.awardedValue">Awarded Value <p-sortIcon
                        field="item.awardedValue"></p-sortIcon></th> -->
                <th pSortableColumn="item.noticeStatus">Published Date<p-sortIcon
                        field="item.noticeStatus"></p-sortIcon></th>
                <th pSortableColumn="item.noticeStatus">Deadline Date<p-sortIcon field="item.noticeStatus"></p-sortIcon>
                </th>
                <th pSortableColumn="item.organisationName">Organization Name <p-sortIcon
                        field="item.organisationName"></p-sortIcon></th>
                <th pSortableColumn="item.region">Region <p-sortIcon field="item.region"></p-sortIcon></th>
                <th pSortableColumn="item.region">CPV Codes <p-sortIcon field="item.region"></p-sortIcon></th>
                <!-- <th pSortableColumn="item.awardedDate">Awarded Date <p-sortIcon field="item.awardedDate"></p-sortIcon>
                </th> -->
                <!-- <th pSortableColumn="item.awardedSupplier">Awarded Supplier <p-sortIcon
                        field="item.awardedSupplier"></p-sortIcon></th> -->
                <!-- <th pSortableColumn="item.cpvCodes">CPV Codes <p-sortIcon field="item.cpvCodes"></p-sortIcon>
                </th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-openTender>
            <tr>
                <td>{{ openTender.id }}</td>
                <td [innerHTML]="highlightMatches(openTender.title)"></td>
                <td>{{ dateFormater(openTender.publishedDate) }}</td>
                <td>{{ dateFormater(openTender.deadlineDate)}}</td>
                <td>{{ openTender.organisationName }}</td>
                <td [innerHTML]="highlightMatches(openTender.region)"></td>
                <td [innerHTML]="highlightMatches(openTender.cpvCodes)"></td>
                <!-- <td>{{ opentTender.region }}</td> -->
                <!-- <td>{{ opentTender.awardedSupplier }}</td> -->
            </tr>
        </ng-template>
    </p-table>
</div>